extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam corporis nulla maxime excepturi? In, adipisci explicabo. Error, accusantium, molestiae repudiandae hic soluta qui recusandae sequi, voluptate debitis alias aperiam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, facilis. Sint doloribus similique in corrupti itaque dolorem? Culpa neque dignissimos, dolores sunt mollitia dolor magni reiciendis aspernatur sapiente inventore id?

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa blanditiis quas hic adipisci numquam voluptatum sint qui voluptates dolorem cumque quaerat exercitationem rem quod facilis illo accusamus, enim optio repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, voluptas quidem! 

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, obcaecati quod, adipisci asperiores culpa nemo beatae eius fugiat sint possimus animi! Illo fugit vitae optio obcaecati sit eius ipsa doloremque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, provident?

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea laudantium odit doloremque earum debitis sequi repellat mollitia temporibus molestias qui.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea laudantium odit doloremque earum debitis sequi repellat mollitia temporibus molestias qui.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea laudantium odit doloremque earum debitis sequi repellat mollitia temporibus molestias qui.